@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    overflow-x: hidden;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
main{
    max-width: 900px;
}

header { 
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

#epicodeLogo {
    width: 13rem;
    height: 3rem;
    padding: 3rem 0;
    margin-left: 25vw;
}

#titleContainer {
    max-width: 400px;
}


h1 {
    width: 100vw;
    font-family: "Outfit", "sans-serif";
    font-size: 60px;
    color: white;
}

span {
    font-weight: 800;
}


#container {
    margin-top: 3rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#introduction {
    max-width: 550px;
}


h2 {
    font-family: "Outfit", "sans-serif";
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 12rem;
}

p{
    margin-top: 1rem ;
}
.mychartCont {
    width: 100%;
}

.mychartCont {
    width: 100vw;
    height: 400px;
    margin: auto;
    padding-bottom: 2rem;
}

#myChart {
    display: block;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    position: absolute;
    /* margin: auto; */
    margin-left: 35vw;
    margin-bottom: 14em;
    transform: translate(97px, -270px);
}

/* .mychartCont {
    width: 500px;
    height: 500px;
    margin: auto;
} */

#resultContainer {
    text-align: center;
    width: 100vw;
    color: white;
    font-family: "Inter", "sans-serif";
    line-height: 1;
    margin-bottom: 4rem;
}

#resultContainer h1 {
    margin-bottom: 0;
}

#resultContainer p{
    font-size: 24px;
    display: inline-block;
}

#correctAnswer{
text-align: left;
width: 25%;
color: white;
margin-left: 4rem;
transform: translate(285px, 0px);

}

#correctAnswer p {
    align-content: right;
    color: white;
    text-align: left;
    font-family: "Outfit", "sans-serif";
    /* transform: translate(170px, 59px); */
}

#correctAnswer h2 {
    color: white;
    text-align: left;
    font-family: "Outfit", "sans-serif";
    margin: 0;
}

#wrongAnswer{
    text-align: right;
    width: 25%;
    color: white;
    margin-left: 60vw;
    transform: translate(-62px, -350px);
    }

#wrongAnswer h2 {
    font-family: "Outfit", "sans-serif";
    font-size: 50px;
    color: white;
    text-align: right;
    margin-top: 12rem;
}

#wrongAnswer p {
    color: white;
    font-family: "Outfit", "sans-serif";
    text-align: right;
}

#correctPercentage {
    font-size: 60px;
    font-family: "Outfit", "sans-serif";
    font-weight: 800;
    text-align: center;
}

#wrongPercentage {
    font-size: 60px;
    font-family: "Outfit", "sans-serif";
    font-weight: 800;
    text-align: center;
}

#congrats {
    font-family: "Inter", "sans-serif";
    font-size: 16px;
    color: white;
    width: 12vw;
    text-align: center;
    margin-left: 50rem;
    transform: translate(58px, 148px);
}

#row1 {
    font-size: 20px;
}

#row2 {
    color:#00FFFF;
    font-size: 20px;
}

#btnContainer {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    transform: translate(8px, -54px);
}

#rateUs {
    font-size: 24px;
    font-family: "Outfit", "sans-serif";
    font-weight: 700;
    color: white;
    text-align: center;
    border: 1px solid white;
    background: none;
    color: white;
    width: 15rem;
    height: 4rem;
    padding: 1rem;
    margin-top: 5rem;
    box-shadow: 0px 0px 38px -20px #00FFFF;
}